version: "3.7"

services:
  redis:
    image: redis:alpine
    restart: always
    ports:
      - 6379:6379

  database:
    image: mysql:5.7
    restart: always
    ports:
      - 3306:3306
    env_file:
      - .env

  rabbitmq:
    image: rabbitmq:alpine
    restart: always
    ports: 
      - 5672:5672
      - 15672:15672
    environment: 
      RABBITMQ_DEFAULT_USER: root
      RABBITMQ_DEFAULT_PASS: test
